.slideshowContainer {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
}

.slideshow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  font-size: 32px;
  border-radius: 50%;
  transition: background 0.3s, transform 0.3s;
}

button:hover,
button:focus {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.1);
  box-shadow: 0 0 0 3px rgba(100, 100, 255, 0.5);
}

button:first-of-type {
  left: 20px;
}

button:last-of-type {
  right: 20px;
}

button[aria-label="Previous Slide"]:focus,
button[aria-label="Next Slide"]:focus {
  outline: 4px solid rgba(100, 100, 255, 0.5);
}

.navigationBar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 24px;
  width: 100%;
  position: relative;
}


.dot {
  position: relative;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.dot:hover,
.dot.active {
  background-color: white;
  transform: scale(1.2);
}

.viewCount {
  margin-top: 20px;
  font-size: 1.2em;
  color: #fff;
}
